/*!
 * Modificado por Marcos Moreno
 */

$primary: #585858;
$primary-fg: #d57e31;
$secondary: #383232;
$primary-fg: #d57e31;
$link-color:  #d57e31;
$mainmenu_bg: #d57e31;
$mainmenu_fg: #fff;
$logo: "../pics/logos/logo-GLPI-100-white.png";
$logo_reduced: "../pics/logos/logo-G-100-white.png";

@import "../includes/palette_light";
